<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>PV System Performance</title>
    <meta name="generator" content="WYSIWYG Web Builder 11 Trial Version - http://www.wysiwygwebbuilder.com">
    <script src="/javascripts/jscookmenu.min.js"></script>
    <link href="/stylesheets/#IFT540-TP-UI.css" rel="stylesheet">
    <link href="/stylesheets/HomePage.css" rel="stylesheet">
    <script src="/javascripts/jquery-1.12.4.min.js"></script>
</head>
<body>
<a href="http://www.wysiwygwebbuilder.com" target="_blank"><img src="images/builtwithwwb11.png" alt="WYSIWYG Web Builder" style="position:absolute;left:441px;top:967px;border-width:0;z-index:250"></a>
<div id="wb_CssMenu2" style="position:absolute;left:371px;top:94px;width:1072px;height:35px;text-align:right;z-index:1;">
    <ul>
        <li class="firstmain"><a href="http://localhost:3000" target="_self">Home</a>
        </li>
        <li><a href="#" target="_self">PV&nbsp;Rating</a>
        </li>
        <li><a href="#" target="_self">PV&nbsp;System&nbsp;Performance</a>
        </li>
        <li><a href="#" target="_self">CHICO</a>
        </li>
    </ul>
</div>
<div id="SlideMenu1" style="position:absolute;left:32px;top:172px;width:307px;height:650px;z-index:2;">
    <ul>
        <li><a>ADD PV SYSTEM</a>
            <ul>
                <li><a href="/addPvForm">Form Fill</a></li>
                <li><a href="/addPvFile">Import from XML</a></li>
            </ul>
        </li>
        <li class="SlideMenu1_Folder"><a>TEST DATA REPORTING</a>
            <ul>
                <li><a href="">Form Fill</a></li>
                <li><a href="">Import from XML</a></li>
            </ul>
        </li>
        <li class="SlideMenu1_Folder"><a href="/solarSystemInfo">PERFORMANCE ANALYSIS</a>
        </li>
        <li class="SlideMenu1_Folder"><a href="/failureModes">FAILURE MODES</a>
        </li>
        <li class="SlideMenu1_Folder"><a href="/addCerti">CERTIFICATION APPLICATION</a>
        </li>
        <li class="SlideMenu1_Folder"><a href="/testDataDisplay">TEST DATA DISPLAY</a>
            <ul>
            </ul>
        </li>
        <li class="SlideMenu1_Folder"><a href="/monitoringDisplay">MONITORING DATA</a>
            <ul>
            </ul>
        </li>
    </ul>
</div>
<div id="wb_Image1" style="position:absolute;left:62px;top:36px;width:129px;height:117px;z-index:4;">
    <img src="images/New_Icon.png" id="Image1" alt=""></div>
<div id="wb_Line1" style="position:absolute;left:-4px;top:168px;width:1457px;height:3px;z-index:5;">
    <img src="images/img0004.png" id="Line1" alt=""></div>
<div id="wb_MenuBar1" style="position:absolute;left:32px;top:175px;width:252px;height:35px;z-index:1009;">
    <div id="MenuBar1">
        <ul style="display:none;">
            <li><span></span><span><a href="#"><img src="images/settings.png" height="23" width="35"></a></span></li>
            <li><span></span><span><a href="/logout"><img src="images/logout.png" height="20" width="25"></a></span></li>
        </ul>
    </div>
</div>
    <script>
        var cmMenuBar1 =
        {
            mainFolderLeft: '',
            mainFolderRight: '',
            mainItemLeft: '',
            mainItemRight: '',
            folderLeft: '',
            folderRight: '',
            itemLeft: '',
            itemRight: '',
            mainSpacing: 0,
            subSpacing: 0,
            delay: 100,
            offsetHMainAdjust: [0, 0],
            offsetSubAdjust: [0, 0]
        };
        var cmMenuBar1HSplit = [_cmNoClick, '<td class="MenuBar1MenuSplitLeft"><div></div></td>' +
        '<td class="MenuBar1MenuSplitText"><div></div></td>' +
        '<td class="MenuBar1MenuSplitRight"><div></div></td>'];
        var cmMenuBar1MainVSplit = [_cmNoClick, '<div><table width="15" cellspacing="0"><tr><td class="MenuBar1HorizontalSplit">|</td></tr></table></div>'];
        var cmMenuBar1MainHSplit = [_cmNoClick, '<td colspan="3" class="MenuBar1MainSplitText"><div></div></td>'];
        cmDrawFromText('MenuBar1', 'hbr', cmMenuBar1, 'MenuBar1');
    </script>
</div>
<div id="wb_Form2" style="position: absolute;left:750px;top:213px;width:852px;height:568px;z-index:10;">
    <h2 style="margin-left:40px;">Requested Solar System Data</h2>

        <table style="width:45%;border:1px solid black">
        <% for(var key in vals[0]) { %>
         <tr style = "border:1px solid black">
             <td style = "border:1px solid black;padding: 8px; text-align: center;"><%= key  %></td>
             <td style = "border:1px solid black; padding: 8px; text-align: center;"><%= vals[0][key] %></td>
         </tr>
        <% } %>
        </table>
    <br>
    <br>
    <br>
    <a href="/solarSystemMonitoringResults" style="margin-left:100px; font-size: 23px;">Get Monitoring Data </a>
</div>

<div id="PageFooter1" style="position:absolute;overflow:hidden;text-align:left;left:0px;top:797px;width:100%;height:201px;z-index:7;">
    <div id="PageFooter1" style="position:absolute;overflow:hidden;text-align:left;">
        <p>Bankable & InterOperable PV</p>
        <p>701 E Williams Field Rd,
            Mesa,Arizona 85212</p>
        <p><a href="www.asu.edu">ASU Website</a>
            <label align ="right">&copy; All Rights Reserved</label></p>
        <p><a href='#'>Site Map</a> | <a href='#'>Terms and Conditions</a> |<a href='#'>Privacy Policy</a> |<a href='#'>About Us</a></p>
    </div>">
</div>
</body>
</html>































