<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Test Data - Visual Inspection Form</title>
<meta name="generator" content="WYSIWYG Web Builder 11 Trial Version - http://www.wysiwygwebbuilder.com">
<script src="/javascripts/jscookmenu.min.js"></script>
<link href="/stylesheets/IFT540TPUI.css" rel="stylesheet">
<link href="/stylesheets/TestData-VisualInspection.css" rel="stylesheet">
<script src="/javascripts/jquery-1.12.4.min.js"></script>
<script>
$(document).ready(function()
{
   $(".SlideMenu1_Folder a").click(function()
   {
      if ($(this).parent().find('ul').is(':hidden'))
      {
         $(this).parent().find('ul').show();
      }
      else
      {
         $(this).parent().find('ul').hide();
      }
   });
});
</script>
</head>
<body>
<a href="http://www.wysiwygwebbuilder.com" target="_blank"><img src="images/builtwithwwb11.png" alt="WYSIWYG Web Builder" style="position:absolute;left:441px;top:967px;border-width:0;z-index:250"></a>
<div id="wb_CssMenu2" style="position:absolute;left:371px;top:94px;width:1072px;height:35px;text-align:right;z-index:40;">
<ul>
<li class="firstmain"><a href="#" target="_self">Home</a>
</li>
<li><a href="#" target="_self">PV&nbsp;Rating</a>
</li>
<li><a href="#" target="_self">PV&nbsp;System&nbsp;Performance</a>
</li>
<li><a href="#" target="_self">CHICO</a>
</li>
</ul>
</div>
<div id="SlideMenu1" style="position:absolute;left:32px;top:172px;width:307px;height:650px;z-index:41;">
<ul>
   <li><a href="/addPv">ADD PV SYSTEM</a>
      <ul>
         <li><a href="/addPvForm">Form Fill</a></li>
         <li><a href="/addPvFile">Import from XML</a></li>
      </ul>
   </li>
   <li class="SlideMenu1_Folder"><a href="/testDataMainPage">TEST DATA REPORTING</a>
      <ul>
         <li><a href="/testDataMainPage">Form Fill</a></li>
         <li><a href="/testDataMainPage">Import from XML</a></li>
      </ul>
   </li>
   <li class="SlideMenu1_Folder"><a>PERFORMANCE ANALYSIS</a>
      <ul>
      </ul>
   </li>
   <li class="SlideMenu1_Folder"><a>COMPARE PV SYSTEMS PERFORMANCE</a>
      <ul>
      </ul>
   </li>
   <li class="SlideMenu1_Folder"><a>CERTIFICATION APPLICATION</a>
      <ul>
      </ul>
   </li>
   <li class="SlideMenu1_Folder"><a>REIB APPLICATION</a>
      <ul>
      </ul>
   </li>
   <li class="SlideMenu1_Folder"><a>RECB APPLICATION</a>
      <ul>
      </ul>
   </li>
</ul>
</div>
<div id="wb_Image1" style="position:absolute;left:62px;top:36px;width:154px;height:109px;z-index:42;">
<img src="images/New_Icon.png" id="Image1" alt=""></div>
<div id="wb_Line1" style="position:absolute;left:-4px;top:168px;width:1457px;height:3px;z-index:43;">
<img src="images/img0001.png" id="Line1" alt=""></div>
<div id="wb_MenuBar1" style="position:absolute;left:87px;top:178px;width:252px;height:35px;z-index:1044;">
   <div id="MenuBar1">
      <ul style="display:none;">
         <li><span></span><span>Welcome</span></li>
         <li><span></span><span><label>Profile |  </label><a href="/logout">Logout</a></span></li>
      </ul>
   </div>
<script>
var cmMenuBar1 =
{
   mainFolderLeft: '',
   mainFolderRight: '',
   mainItemLeft: '',
   mainItemRight: '',
   folderLeft: '',
   folderRight: '',
   itemLeft: '',
   itemRight: '',
   mainSpacing: 0,
   subSpacing: 0,
   delay: 100,
   offsetHMainAdjust: [0, 0],
   offsetSubAdjust: [0, 0]
};
var cmMenuBar1HSplit = [_cmNoClick, '<td class="MenuBar1MenuSplitLeft"><div></div></td>' +
                                       '<td class="MenuBar1MenuSplitText"><div></div></td>' +
                                       '<td class="MenuBar1MenuSplitRight"><div></div></td>'];
var cmMenuBar1MainVSplit = [_cmNoClick, '<div><table width="15" cellspacing="0"><tr><td class="MenuBar1HorizontalSplit">|</td></tr></table></div>'];
var cmMenuBar1MainHSplit = [_cmNoClick, '<td colspan="3" class="MenuBar1MainSplitText"><div></div></td>'];
cmDrawFromText('MenuBar1', 'hbr', cmMenuBar1, 'MenuBar1');
</script>
</div>
<label for="" id="Label3" style="position:absolute;left:386px;top:216px;width:452px;height:26px;line-height:26px;z-index:45;">Visual Inspection Form</label>
<div id="wb_Text1" style="position:absolute;left:392px;top:255px;width:242px;height:80px;z-index:46;text-align:left;">
<span style="color:#000000;font-family:Arial;font-size:13px;">Import from XML: <br><br>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; </span><span style="color:#FF0000;font-family:Arial;font-size:13px;"><strong>OR</strong></span><span style="color:#000000;font-family:Arial;font-size:13px;"><br><br>Enter data below:</span></div>
<div id="wb_Form1" style="position:absolute;left:393px;top:347px;width:1062px;height:718px;z-index:47;">
<form name="Visual_Inspection_Form" method="post" action="/processVisual" enctype="application/x-www-form-urlencoded" id="Form1">
<label for="ModuleCode" id="Label1" style="position:absolute;left:9px;top:14px;width:207px;height:18px;line-height:18px;z-index:0;">Module Code</label>
<input type="text" name="ModuleCode" id="ModuleCode" placeholder="ModuleCode" style="position:absolute;left:234px;top:14px;width:200px;height:18px;z-index:1;">
<label for="InterconnectBreakage" id="Label5" style="position:absolute;left:9px;top:47px;width:207px;height:18px;line-height:18px;z-index:2;">Interconnect Breakage</label>
<select name="InterconnectBreakage" size="1" id="InterconnectBreakage" style="position:absolute;left:234px;top:47px;width:200px;height:28px;z-index:3;">
<option value="Yes">Yes</option>
<option value="No">No</option>
</select>
<label for="HotSpots" id="Label6" style="position:absolute;left:9px;top:146px;width:207px;height:18px;line-height:18px;z-index:8;">Hot Spots</label>
<select name="HotSpots" size="1" id="HotSpots" style="position:absolute;left:234px;top:146px;width:200px;height:28px;z-index:9;">
<option value="Yes">Yes</option>
<option value="No">No</option>
</select>
<label for="Delamination" id="Label15" style="position:absolute;left:9px;top:80px;width:207px;height:18px;line-height:18px;z-index:4;">Delamination</label>
<select name="Delamination" size="1" id="Delamination" style="position:absolute;left:234px;top:80px;width:200px;height:28px;z-index:5;">
<option value="Yes">Yes</option>
<option value="No">No</option>
</select>
<label for="BrokenChippedCells" id="Label18" style="position:absolute;left:9px;top:113px;width:207px;height:18px;line-height:18px;z-index:6;">Broken Chipped Cells</label>
<select name="BrokenChippedCells" size="1" id="BrokenChippedCells" style="position:absolute;left:234px;top:113px;width:200px;height:28px;z-index:7;">
<option value="Yes">Yes</option>
<option value="No">No</option>
</select>
<label for="PmDrop" id="Label7" style="position:absolute;left:9px;top:179px;width:104px;height:18px;line-height:18px;z-index:10;">PmDrop</label>
<input type="text" id="PmDrop" style="position:absolute;left:234px;top:178px;width:200px;height:18px;line-height:18px;z-index:11;" name="PmDrop" value="" placeholder="PmDrop">
<label for="RsRso" id="Label8" style="position:absolute;left:9px;top:212px;width:104px;height:18px;line-height:18px;z-index:12;">RsRso</label>
<input type="text" id="RsRso" style="position:absolute;left:234px;top:211px;width:200px;height:18px;line-height:18px;z-index:13;" name="RsRso" value="" placeholder="RsRso">
<label for="CellDiscoloration" id="Label9" style="position:absolute;left:9px;top:245px;width:207px;height:18px;line-height:18px;z-index:14;">Cell Discoloration</label>
<select name="CellDiscoloration" size="1" id="CellDiscoloration" style="position:absolute;left:234px;top:245px;width:200px;height:28px;z-index:15;">
<option value="Yes">Yes</option>
<option value="No">No</option>
</select>
<label for="BacksheetWarpingDetaching" id="Label10" style="position:absolute;left:9px;top:278px;width:207px;height:18px;line-height:18px;z-index:16;">Backsheet Warping Detaching</label>
<select name="BacksheetWarpingDetaching" size="1" id="BacksheetWarpingDetaching" style="position:absolute;left:234px;top:278px;width:200px;height:28px;z-index:17;">
<option value="Yes">Yes</option>
<option value="No">No</option>
</select>
<label for="BurnThroughBacksheet" id="Label11" style="position:absolute;left:9px;top:311px;width:207px;height:18px;line-height:18px;z-index:18;">Burn Through Backsheet</label>
<select name="BurnThroughBacksheet" size="1" id="BurnThroughBacksheet" style="position:absolute;left:234px;top:311px;width:200px;height:28px;z-index:19;">
<option value="Yes">Yes</option>
<option value="No">No</option>
</select>
<label for="MetallizationDiscoloration" id="Label12" style="position:absolute;left:9px;top:344px;width:207px;height:18px;line-height:18px;z-index:20;">Metallization Discoloration</label>
<select name="MetallizationDiscoloration" size="1" id="MetallizationDiscoloration" style="position:absolute;left:234px;top:344px;width:200px;height:28px;z-index:21;">
<option value="Yes">Yes</option>
<option value="No">No</option>
</select>
<label for="EncapsulantDiscoloration" id="Label14"  style="position:absolute;left:9px;top:377px;width:207px;height:18px;line-height:18px;z-index:22;">Encapsulant Discoloration</label>
<select name="EncapsulantDiscoloration" size="1" id="EncapsulantDiscoloration" style="position:absolute;left:234px;top:377px;width:200px;height:28px;z-index:35;">
<option value="Yes">Yes</option>
<option value="No">No</option>
</select>
<label for="SolderBondFailure" id="Label14" style="position:absolute;left:9px;top:410px;width:207px;height:18px;line-height:18px;z-index:24;">Solder Bond Failure</label>
<select name="SolderBondFailure" size="1" id="SolderBondFailure" style="position:absolute;left:234px;top:410px;width:200px;height:28px;z-index:25;">
<option value="Yes">Yes</option>
<option value="No">No</option>
</select>
<input type="submit" id="Button1" name="submit" value="Submit" style="position:absolute;left:338px;top:666px;width:96px;height:25px;z-index:38;">
</form>
</div>
<input type="file" id="FileUpload1" style="position:absolute;left:618px;top:249px;width:80px;height:26px;line-height:26px;z-index:48;" name="FileUpload1">
<div id="PageFooter1" style="position:absolute;overflow:hidden;text-align:left;left:0px;top:1080px;width:100%;height:201px;z-index:49;">
   <div id="PageFooter1" style="position:absolute;overflow:hidden;text-align:left;">
<p>Bankable & InterOperable PV</p>
<p>701 E Williams Field Rd,
Mesa,Arizona 85212</p>
<p><a href="www.asu.edu">ASU Website</a>
<label align ="right">&copy; All Rights Reserved</label></p>
<p><a href='#'>Site Map</a> | <a href='#'>Terms and Conditions</a> |<a href='#'>Privacy Policy</a> |<a href='#'>About Us</a></p>
</div>">
</div>
</body>
</html>