<div id="wb_CssMenu2" style="position:absolute;left:71px;top:85px;width:1072px;height:35px;text-align:right;z-index:23;">
    <ul>
        <li class="firstmain"><a href="#" target="_self">Home</a>
        </li>
        <li><a href="#" target="_self">PV&nbsp;Rating</a>
        </li>
        <li><a href="#" target="_self">PV&nbsp;System&nbsp;Performance</a>
        </li>
        <li><a href="#" target="_self">CHICO</a>
        </li>
    </ul>
</div>